<ion-view class="tinder-cards-view" style="background-color:#e6e6ff">
<ion-nav-title>
<span>YESORNO</span>
</ion-nav-title>
<ion-content scroll="false">
<td-cards>
<td-card id="td-card" ng-repeat="card in cards"
on-transition-left="transitionLeft(card)"
on-transition-right="transitionRight(card)"
on-transition-out="transitionOut(card)"
on-destroy="cardDestroyed($index)"
on-swipe-left="cardSwipedLeft($index)"
on-swipe-right="cardSwipedRight($index)"
on-partial-swipe="cardPartialSwipe(amt)">
<div class="td-card" style="height:300px;padding:20px;text-align:center;background-color:#98b2e6;">
  
  <h2 style="color:white">{{card.question}}</h2>
  <h3 style="padding-top:20px;color:white;">{{card.description}}</h3> 

  <!--<img ng-src="{{card.image}}">-->
  <div class="no-text overlayBox">
    <div class="noBox boxed">
      Nope
    </div>
  </div>
  <div class="yes-text overlayBox">
    <div class="yesBox boxed">
      Yes
    </div>
  </div>
  
</div>
<div class="title">
  <span style="padding-right:50px;color:red"><< NO</span>
  <span style="padding-left:50px;color:green">YES >></span>
</div>
</td-card>
</td-cards>
<button class="button button-clear button-dark" onclick="window.location.href ='/'">
  Sair
</button>
</ion-content>
</ion-view>
