<ion-view class="login-view auth-view" cache-view="false">
<ion-content scroll="false">
<div class="row">
  <div class="col col-center">
    <div class="card login-container" content-tabs tabsdata='tabsdata'>
      <form name="login_form" class="" novalidate ng-cloak>
        <my-tabs>
        <my-tab title="YESORNO">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" name="username" ng-model="users.username" required>
          </label>
          <label class="item item-input" show-hide-container>
            <input type="password" placeholder="Senha" name="password" ng-model="users.password" required show-hide-input>
          </label>
        </div>
        <div class="item item-body bottom-content">
          <button type="submit" class="button button-positive button-block" ng-click="doLogin(users)" ng-disabled="login_form.$invalid">
            Login
          </button>
        </div>
      </my-tab>

    </my-tabs>

  </form>
</div>
<div class="alternative-actions">

  <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
    Cadastro
  </a>
</div>
</div>
</div>
</ion-content>
</ion-view>
