<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="signup_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Nome" name="firstName" ng-model="users.firstName" required>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Sobrenome" name="lastName" ng-model="users.lastName" required>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Username (para login)" name="username" ng-model="users.username" required>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="E-mail" name="email" ng-model="users.email" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Senha" name="password" ng-model="users.password" required show-hide-input>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="doSignUp(users)" ng-disabled="signup_form.$invalid">
                Cadastro
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Login
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
