<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <h1>YESORNO</h1>
        <h2 style="color:white">Descubra agora!!</h2>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block button-stable" ui-sref="auth.login">
          Login
        </a>
        <a class="sign-up button button-block button-stable" ui-sref="auth.signup">
          Cadastro
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
